.nav-bar{
    position: fixed;
    display: flex;
    background-color: white;
    height: 24px;
    padding: 25px;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-bottom: 1px rgba(0, 0, 0, 0.13) solid;

}
.nav-content{
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-left: 100px;
    align-items: center;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #212529
}
.nav-cart{
    display: flex;
}
.nav-logo img{
    height: 35px;
   
}
.bag img{
    height: 22px;
    width: 22px;
}
.profile img{
    height: 22px;
    width: 22px;
}

.nav-cart{
    display: flex;
    width: 650px;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
.profile{
    width: 30px;
}
.bag{
    width: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-right: 0px;
    gap: 0.5em;
    position: relative;
}
.menu img{
    height: 82px;
    width: 82px;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grey-circle{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #e8e7e5ad;
    top: 55px;
    right: auto;
    left: auto;
    z-index: -1;
}
.menu div p{
    width: 110px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-search{
    width: 260px;
    height: 40px;
    padding: 19px;
    border-radius: 30px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.055);
    background-image: url(search.png);
    
    outline: none;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 12px;
    background-size: 16px

}
.dailyDeals{
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    padding-right: 30px;
    align-items: center;
}
.dailyDeals h3{
    color: #1A2024;
    font-size: 24px;
    text-align: left;
    margin-bottom: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dailyDeals p{
    font-weight: 700; 
    color: rgba(14, 4, 107, 0.842);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.horizontal-list{
    margin-top: 30px;
    height: 480px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    gap: 2em;
    
}
.horizontal-list-item{
    background-color: #dfe9e938;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 450px;
    border-radius: 8px;
    border-style: solid;
    border-color: #1a202410;
    border-width: 1px;
}
.horizontal-list-item img{
    width: 290px;
    height: 320px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.horizontal-list-item-info-left{
    width: 50%;
    padding-top: 4px;
}
.horizontal-list-item-info-left li{
    margin: 10px;
} 
.horizontal-list-item-info-right{
    width: 50%;
}
#bold{
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.yellow-tag{
   width: 70%;
   border: 1px solid white;
   z-index: 1;
   border-radius: 10px;
   padding: 6px 10px;
   margin-top: -14px;
   margin-left: auto;
   margin-right: auto;
   font-size: 13px;
   font-weight: 700;
   background: #fcc50b;
   text-align: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #000;
}
.item-color{
    height: 20px;
    width: 20px; 
    border-radius: 50%; 
    border: 1px solid #D0D9DE;

}
.horizontal-list-item-info-right img{
    height: 50px;
    width: 50px;
    padding-left: 79px;
    padding-top: 12px;
}
.warranty{
    height: 150px;
    display: flex;   
    justify-content: center; 
    gap: 2em;


}
.warranty div{
    width: 200px;
    align-items: center;
    text-align: center;
}
.warranty img{
    height: 120px;
}
#metropolis{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.block1{
    display: flex;
    margin: 15px;
    background-color: rgba(205, 224, 224, 0.432);
    height: 280px;
    padding: 54px;
    justify-content: center;
    gap: 3em;
    margin-bottom: 0px;
}
.box1{
    width: 374px;
    
}
.box1 p{
    color: #293036;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 300px;
    margin-bottom: 5px;
    
}
.box1 input{
    height: 45px;
    width: 330px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    border: none;
    outline: none;
    padding-left: 15px;
}
.box2{
    width: 312px;
    padding: 20px;
    padding-top: 0px;
}
::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(143, 143, 143);
}
.block1 ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    gap: 8px;
    
}

.block1 li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    color: rgb(85, 84, 84);
    font-size: 13;
}
.box3{
    width: 150px;
}
.block2{
    display: flex;
    height: 80px;
    justify-content: center;
    gap: 2em;
    background-color: rgba(200, 230, 222, 0.671);
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    
}
.block2 img{
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;

}
.block3{
    background-color: rgba(200, 230, 222, 0.671);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    gap: 0.8em;
}
.block3 div{
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
